.ContactMain {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  margin-bottom: 30px;
}
.contactBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactForm {
  width: 90%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contactHead {
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 80%;
}
.contactHead p {
  margin: 0px;
  margin-top: 14px;
  margin-right: 10px;
  margin-left: 30px;
}
.contactLeaf {
  width: 25px;
  height: 100%;
  display: flex;
  justify-content: baseline;
}
.contactLeaf img {
  width: 100%;
  height: auto;
}

.contactExsplain {
  width: 80%;
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}

.inputBox {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}
.subHead {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}
.input {
  width: 90%;
  background: #ffffff;
  border: 3px solid #cbcbcb;
  border-radius: 26px;
  padding: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
}
.msgInput {
  height: 180px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  padding: 12px;
  background: #ffffff;
  border: 3px solid #cbcbcb;
  border-radius: 26px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
}
.submit {
  width: 90%;
  height: fit-content;
  display: flex;
  justify-content: right;
  padding: 10px;
}

.tree {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tree img {
  width: 60%;
  height: auto;
}

@media screen and (min-width: 500px) {
  .input {
    width: 65%;
  }
  .msgInput {
    width: 85%;
  }
  .contactHead {
    margin-top: 20px;
    font-size: 35px;
  }
  .contactExsplain {
    font-size: 15px;
  }
  .submit {
    width: 75%;
  }
  .contactExsplain {
    width: 60%;
  }
}

@media screen and (min-width: 1000px) {
  .contactForm {
    width: 60%;
  }
  .contactBox {
    width: 90%;
    flex-direction: row;
  }
  .tree {
    width: 40%;
    margin-bottom: 80px;
  }
  .tree img {
    width: 70%;
  }
}
